.main {
	padding: 10px;
}

body 
{
	margin:10px auto;
	padding:0;
	width:980px;
	height:100%;
	background-color:white;
}
#bodyLogin {
    margin: 10px auto;
    padding: 0;
    width: 980px;
    height: 750px;
    background-color: #CCCCCC;
}
#header
{
	margin:0;
	padding:0;
	width:100%;
	
	
}
#headerImg {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#container {
	margin-top: 0;
	/*padding-top: 10px;*/
	width: 980px;
	height: auto;
	min-height: 600px;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #FF6600;
	border-width: thick;
	padding-left: 0px;
	padding-right: 0px;
}
#BodyDetail
{
	height: auto;
	width: 400px;
	margin:100px auto;
	background-color: #FF6600;
	color: #FFFFFF;
	padding: 10px;
}
#Loginlbl {
	font-size: 12px;
	font-weight: bold;
	color: White;
	font-family: Calibri;
}
#loginBox {
	height: auto;
	margin-top: 10px;
	padding-top: 15px;
	width: auto;
	background-color: #FFCC00;
}

.errorBox 
{
    text-align:center;
    width:420px;
    margin:10px auto;
}

.errorlbl {
	font-size: 9px;
	font-family: Calibri;
	color: Red;
	margin-left: 20px;
	text-align: center;
	width:auto;
}

#useridlbl {
    color: White;
    font-family: Calibri;
	font-weight:bold;
    font-size: 9pt;
    margin-left: 20px;
}

#passwordlbl {
	color: White;
	font-family: Calibri;
	font-weight: bold;
	font-size: 9pt;
	margin-left: 20px;
}

#useridtextbox {
	width: 100%;
	margin-top: 0px;
	margin-left: 12px;
	color: black;
	margin-bottom: 10px;
}

#passwordtextbox {
	width: 100%;
	margin-top: 0px;
	margin-left: 12px;
	color: black;
}

#login 
{
    margin-top:30px;
    text-align:center;
}

#loginButton
{
	margin-left: 50px;
}

#forgot
{
	text-align:center;
	margin-top:15px;
}

#forgotPassword {
	font-family: Calibri;
	font-size: 9px;
	text-decoration: underline;
	color: #FFFFFF;
	display: inline-block;
	margin-left: 10%;
}
#forgotUsername {
	font-family: calibri;
	font-size: 9px;
	text-decoration: underline;
	color: #FFFFFF;
	display: inline-block;
	margin-right: 10%;
}

#emailIDlbl
{
    margin-left:20px;
	color: #FFFFFF;
	font-family: Calibri;
	font-size: 20px;
}

#emailIDtextbox
{
    width:260px;
	margin-left: 15px; 
	margin-top: 50px;
}

#usernamelbl
{
    margin-left:20px;
	color:White;
	font-family:Calibri;
	font-size:9px;
}

#usernametextbox
{
    width:245px;
	margin-left: 15px;
	margin-top: 50px;
}

#rememberID {
	color: White;
	font-family: Calibri;
	font-weight: normal;
	font-size: 9pt;
}

#LoginBtn_1 {
	color: White;
	font-family: Calibri;
	font-size: 9px;
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
	width: 80px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	margin-left: 10%;
}
#myFirstID {
    color: red;
}