* 
{
    font-family:Calibri;
}

a.tabText {
	font-size: 14px;
	color: white;
	font-weight: bold;
	background-color: #FBB917;
	/*	background-color: #4B6C9E;*/
}
.navbar {
	margin-bottom: 0;
}
#navbar-default {
	background-color: #FBB917;
	border: none ;
	margin-bottom: 0;
}
/*#navbar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4B6C9E;
}*/
.navbar-default .navbar-nav > .active > a {
	background-color: #FBB917;
}
	.navbar-default .navbar-nav > .active > a:hover {
		color: #4B6C9E;
	}
ul li a.active {
	background-color: #FBB917;
}
ul.navbar-ul li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar-li {
	background-color: #4B6C9E
	
}
body {
	margin: 0;
	padding: 0;
	/*background-color:#CCCCCC;*/
}
#page 
{
    width:980px;
    margin:10px auto;
    padding:0;
}
header #logo 
{
    width:980px;
    height:125px;
    background-image:url(../../Images/Tropical.png);
}
#tabs {
	padding: 0px;
	padding-top: 5px;
	background: #4B6C9E;
	border-width: 0px;
}

.nav li {
	
}

	.nav li.selected {
		background-color: steelblue;
	}


.my-ui-tabs-nav {
	padding-left: 10px;
	background: #4B6C9E;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
	margin-left:0px;
	margin-right: 15px;
	/*-moz-border-radius: 0px;
	-webkit-border-radius: 0px;*/
}
.my-ui-tabs-nav li {
	margin-top: 0.6em;
	padding:0px 20px;
}
#tabs .ui-tabs-panel {
	background: url(images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top #f5f3e5;
	border-width: 19px 1px 1px 1px;
	height:600px;
}