@{
    ViewBag.Title = "Home Page";
    if (Session["loginID"] == null)
    { //block user that not logged in
        Response.Redirect("~/Login/Login");
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    </head>
<body>
    <div>
        <h1>Dashboard</h1>
        <h3>Username: @Session["loginID"].ToString()</h3>
        </div>
    </body>
</html>